@font-face {
    font-family: 'SwirlyQ';
    src: url("Spirax-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'SwirlyDO';
    src: url("../fonts/Pacifico-Regular.ttf") format('truetype');

}
.title {
    background-color: #08b285;
    color: white;
}

.title img {
    margin: 0 auto;
    width: 8%;
}

h1 {
    font-family: 'SwirlyDO';
    margin: 30px auto 50px;
    color: #08b285;
    font-size: 48px;
}

#_searchBar {
    display: flex;
    flex-basis: 100%;
}

#_searchBar form {
    display: flex;
    flex-basis: 50%;
    justify-items: center;
    margin: 0 auto;
    border-radius: 6px;
    border: 1px #cccccc solid;
    padding: 10px;
}

#_searchBar form input {
    display: flex;
    flex-basis: 100%;
    border: none;
}

#_searchBar form button {
    border-radius: 6px;
    border: 1px #08b285 solid;
    background: #fff;
    color: #08b285;
    padding: 5px 10px;
}

#_searchBar form button:hover {
    background: #08b285;
    color: #fff;
    cursor: pointer;
}

#list {
    display: flex;
    justify-content: center;
}

#_ingredientList {
    list-style: none;
    display: flex;
    flex-basis: 35%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

#_ingredientList li {
    display: flex;
    flex-basis: 100%;
    border-radius: 6px;
    border: 1px #ccc solid;
    padding: 10px;
    margin: 3px;
    position: relative;
}

#_getRecipes {
    border-radius: 6px;
    border: 1px #08b285 solid;
    background: #08b285;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    display: none;
    margin: 0 auto;
}

.delete {
    position: absolute;
    right: 10px;
    border-radius: 3px;
    border: none;
    background: none;
    color: #bb2200;
}

.delete:hover {
    cursor: pointer;
    background: #bb2200;
    color: #fff;
}

#_recipes {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    padding: 20px;
}

#_recipes .card {
    display: flex;
    flex-basis: 18%;
    margin: 1%;
    
}

@keyframes stretch {
0%{
    transform: scale(.0);
}
100%{
    transform: (1.0);
}
}

.element {
    height: 250px;
    width: 250px;
    animation-name: stretch;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-iteration-count: initial;
    animation-fill-mode: forwards;
    animation-play-state: initial;
}

@keyframes shrink{
0%{
        transform: scale(1);
    
}
100%{
        transform: scale(0);
}   
}


.element2 {
    height: 250px;
    width: 250px;
    animation-name: shrink;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: initial;
    animation-fill-mode: forwards;
    animation-play-state: initial;
}