html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 160px;
}

.container {
    width: 100% !important;
    max-width: 100% !important;
}

.card-header {
    padding: 5px 10px;
    background: #08b285;
    color: #fff;
}

.card-header a {
    color: #fff;
    font-weight: bold;
}

.card-body {
    padding: 0 !important;
}

.card-body img {
    width: 100%;
}


@font-face {
    font-family: 'SwirlyQ';
    src: url("Spirax-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'SwirlyDO';
    src: url("../fonts/Pacifico-Regular.ttf") format('truetype');

}
.title {
    background-color: #08b285;
    color: white;
}

.title img {
    margin: 0 auto;
    width: 8%;
}

h1 {
    font-family: 'SwirlyDO';
    margin: 30px auto 50px;
    color: #08b285;
    font-size: 48px;
}

#_searchBar {
    display: flex;
    flex-basis: 100%;
}

#_searchBar form {
    display: flex;
    flex-basis: 50%;
    justify-items: center;
    margin: 0 auto;
    border-radius: 6px;
    border: 1px #cccccc solid;
    padding: 10px;
}

#_searchBar form input {
    display: flex;
    flex-basis: 100%;
    border: none;
}

#_searchBar form button {
    border-radius: 6px;
    border: 1px #08b285 solid;
    background: #fff;
    color: #08b285;
    padding: 5px 10px;
}

#_searchBar form button:hover {
    background: #08b285;
    color: #fff;
    cursor: pointer;
}

#list {
    display: flex;
    justify-content: center;
}

#_ingredientList {
    list-style: none;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

#_ingredientList li {
    display: flex;
    flex-basis: 16%;
    border-radius: 6px;
    border: 1px #ccc solid;
    padding: 10px;
    margin: 3px;
    position: relative;
}

#_getRecipes {
    border-radius: 6px;
    border: 1px #08b285 solid;
    background: #08b285;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    display: none;
    margin: 0 auto;
}

.delete {
    position: absolute;
    right: 10px;
    border-radius: 3px;
    border: none;
    background: none;
    color: #bb2200;
}

.delete:hover {
    cursor: pointer;
    background: #bb2200;
    color: #fff;
}

#_recipes {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    padding: 20px;
}

#_recipes .card {
    display: flex;
    flex-basis: 23%;
    margin: 1%;
    
}

@media only screen and (max-width: 1024px) {
    #_recipes .card {
        display: flex;
        flex-basis: 48%;
        margin: 1%;
    }

    #_searchBar form {
        flex-basis: 80%;
    }

    #_ingredientList li {
        flex-basis: 31%;
    }
}

@media only screen and (max-width: 768px) {
    #_recipes .card {
        display: flex;
        flex-basis: 98%;
        margin: 1%;
    }

    #_searchBar form {
        flex-basis: 100%;
    }

    #_ingredientList li {
        flex-basis: 48%;
    }
}

@keyframes stretch {
    0%{
        transform: scale(.0);
    }
    100%{
        transform: scale(1.0);
    }
}

.element {
    animation-name: stretch;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: initial;
    animation-fill-mode: forwards;
    animation-play-state: initial;
}

@keyframes shrink{
0%{
        transform: scale(1);
    
}
100%{
        transform: scale(0);
}   
}


.element2 {
    height: 250px;
    width: 250px;
    animation-name: shrink;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: initial;
    animation-fill-mode: forwards;
    animation-play-state: initial;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 20px;
    height: 160px;
    color: #fff;
    width: 100%;
    background-color: #333333;
}